.navbar {
   padding-left: 20px;
   font-size: 25px;
   text-decoration: none;
   color: black;
}

.navbar a{
    color: black;
    text-decoration: none;
}

.navbar a:hover{
    color: gray;
    
}

.navbar_container {
    background-color: teal;
}

.body_p {
    font-size: 50px;
    justify-content: center;
    text-align: center;
}

.div_left-right {
    display: flex;
    width: 100%;
    background-color: gray;
    justify-content: center;
}

.div_left {
    background-color: green;
    width: 45%;
    justify-content: center;
    height: 10rem;
}

.div_right {
    background-color: darkgreen;
    width: 45%;
    justify-content: center;
    margin-left: 4%;
    height: 10rem;
}